@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body{
    scroll-behavior: smooth;
}
body{
    font-family: "EB Garamond", serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1290px;
    margin: auto;
}




.header-section{
    width: 1280px;
    margin: auto;
}
.navbar-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.navbar-logo{
    display: flex;
    align-items: center;
    text-align: center;

}
/* .navbar-logo img{
    width: 65px;
    height: 45px;
} */
.navbar-logo h1{
    font-weight: 800;
    font-size: 35px;
    margin-left: -90px;
    text-align: center;
    color: rgb(65, 64, 64);
}
.navbar-links{
    margin-left: -100px;
}
.navbar-links ul{
    display: flex;
    gap: 25px;
}
.navbar-links li{
    font-family: "Poppins", sans-serif;;
    font-weight: 400;
    font-size: 16px;
    color: rgb(112, 112, 112);
}
.navbar-btn{
    width: 220px;
    height: 64px;
    border-radius: 9px;
    border: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(182, 140, 90);
}

.nav-banner-section{
    width: 1170px;
    height: 550px;
    margin-top: 50px;
    background-image: url(./images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}
.banner-content{
    padding-top: 100px;
    font-family: "Poppins", sans-serif;
}
.banner-content h1{
    width: 668px;
    height: 170px;
    margin: auto;
    font-family: "EB Garamond", serif;
    font-weight: 800;
    font-size: 72px;
    text-align: center;
    align-items: center;
    /* border: 1px solid red; */
    color: rgb(255, 255, 255);
}
.banner-content p{
    width: 679px;
    height: 52px;
    margin: auto;
    margin-top: 25px;
    font-size: 16px;
    color: rgb(231, 231, 231);
}
.banner-content input{
    width: 500px;
    height: 64px;
    margin-top: 20px;
    border: none;
    padding: 15px;
    border-radius: 8px;
    color: rgb(230, 19, 19);

}
.banner-btn{
    width: 150px;
    height: 64px;
    font-size: 20px;
    border: none;
    border-radius: 9px;
    color: rgb(255, 255, 255);
    background-color: rgb(182, 140, 90);
}
.legal-section-container{
    margin-top: 120px;
    text-align: center;
}
.legal-section-content h1{
    font-weight: 800;
    font-size: 40px;
    color: rgb(65, 64, 64);
}
.legal-section-content p{
    width: 714px;
    height: 52px;
    font-family: "Poppins", sans-serif;;
    margin: auto;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgb(112, 112, 112);
}


.legal-section-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
    margin-top: 80px;
}
.card{
    width: 371px;
    height: 419px;
    padding-top: 50px;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
}
.card h2{
    font-size: 32px;
    margin-top: 35px;
    align-items: center;
    color: rgb(65, 64, 64);
}
.card p{
    width: 258px;
    height: 130px;
    margin: auto;
    font-size: 16px;
    margin-top: 25px;
    line-height: 25px;
    text-align: center;
    align-items: center;
    color: rgb(112, 112, 112);
}


.our-client-section{
    margin-top: 100px;
}
.client-section-container{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.client-section-container h1{
    font-weight: 800;
    font-size: 40px;
    color: rgb(65, 64, 64);
}
.client-section-container p{
    width: 714px;
    height: 52px;
    margin: auto;
    line-height: 25px;
    text-align: center;
    font-family: "Poppins", sans-serif;;
    font-size: 16px;
    color: rgb(112, 112, 112);
}
.client-section-image{
    width: 1170px;
    height: 500px;
    margin-top: 40px;
    border-radius: 8px;
    background-image: url(./images/slider-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.client-content{
    width: 900px;
    height: 308px;
    font-family: "Poppins", sans-serif;;
    margin: auto;
    padding: 96px 135px;
    /* border: 1px solid red; */
    text-align: center;
    align-items: center;
}
.client-content img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 2px 3px 10px 8px rebeccapurple;
}
.client-content h3{
    font-family: "EB Garamond", serif;
    font-size: 24px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
}
.client-content h5{
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}
.client-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    color: rgb(243, 243, 243);
}
    

.frequently-asked-section{
    margin-top: 80px;
}
.frequently-section-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 50px;
}
.content-card-1{
    width: 570px;
    height: 179px;
    border-radius: 9px;
    padding: 32px 15px;
    background-color: rgb(243, 243, 243);
}
.content-card-1 h1{
    width: 414px;
    height: 31px;
    font-weight: 800;
    font-size: 24px;
    /* margin: auto; */
    color: rgb(65, 64, 64);
}
.content-card-1 p{
    width: 504px;
    height: 78px;
    margin: auto;
    font-size: 16px;
    line-height: 25px;
    margin-top: 12px;
    color: rgb(112, 112, 112);
}
.content-card{
    width: 570px;
    height: 100px;
    margin-top: 12px;
    border-radius: 9px;
    padding: 35px 124px 34px 32px;
    background-color: rgb(243, 243, 243);
}
.content-card h1{
    width: 414px;
    height: 31px;
    font-weight: 800;
    font-size: 24px;
    /* margin: auto; */
    color: rgb(65, 64, 64)
}
.frequently-section-image{
    width: 570px;
    height: 574px;
}
.frequently-section-image img{
    width: 100%;
    height: 100%;
}



.contact-us-section{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 50px;
}
.contact-section-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
}
.contact-card{
    width: 285px;
    height: 265px;
    border-radius: 2px;
    padding: 65px 61px;
    text-align: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
}
.contact-card h2{
    font-weight: 800;
    font-size: 24px;
    margin-top: 10px;
    color: rgb(65, 64, 64);
}
.contact-card p{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(112, 112, 112);
}


.contact-from{
}
form{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.contact-from input{
    width: 570px;
    height: 72px;
    border: none;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(243, 243, 243);
}
#message{
    height: 162px;
    padding-bottom: 130px;
    
}
#submit{
    color: rgb(255, 255, 255);
    background-color: rgb(182, 140, 90);
}




footer{
    margin-top: 100px;
    background-color: rgb(17, 17, 17);
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: rgb(255, 255, 255);
    padding-top: 100px;
   padding-bottom: 105px;
}
#email{
    width: 324px;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 15px;

}
#submit-2{
    width: 130px;
    height: 40px;
    border-radius: 15px;
    color: azure;
    background-color: rgb(182, 140, 90);
}
.links-section a,
.contact-section a{
    color: rgb(207, 207, 207);
}